<table class="table container">
    <thead>
      <tr>
        <th scope="col">Book Id</th>
        <th scope="col">Book Name</th>
        <th scope="col">Isbn</th>
        <th scope="col">Author Name</th>
        <th scope="col">Book Edition</th>
        <th scope="col">Stock Available</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>harry potter</td>
        <td>8747486</td>
        <td>luvis</td>
        <td>First</td>
        <td>2</td>
        <td><i class="fa-solid fa-pen-to-square"></i><i class="fa-solid fa-trash"></i></td>
      </tr>
    </tbody>
  </table>