* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 400;
  color: #464645;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: #f6f6f5;
}
header {
  width: 90%;
  height: 10vh;
  padding-top: 5%;
  padding-bottom: 1.2%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header span {
  display: inline-block;
  width: 50%;
  font-size: 1.2em;
  align-self: flex-end;
  margin-left: -15px;
  color: #ff373f;
}
.logo {
  width: 15%;
  position: relative;
  z-index: 1;
  top: 45%;
  margin: 0 auto;
}

.logo-img {
  width: 70%;
}

nav {
  align-self: end;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
nav ul li {
  margin-right: 0%;
}

.section1 {
  height: 33em;
  position: relative;
  z-index: 0;
  display: flex;
}

.latest-recipe-img {
  width: 70%;
}
.latest-recipe-img img {
  width: 100%;
  height: 100%;
}
.latest-recipe-details {
  width: 30%;
  background-color: #ff373f;
  color: #fff;
  padding: 3%;
}

.latest-recipe-para {
  font-size: 1.2rem;
}
.latest-recipe-heading {
  padding-top: 3%;
  font-size: 2.5rem;
  line-height: 1.2;
}

.section1 p {
  padding-top: 3%;
  font-size: 1.2rem;
}

button.goto-recipe {
  margin-top: 10%;
  font-size: 1.2rem;
  font-weight: 200;
  background-color: #fff;
  color: #494949;
  padding: 5% 10%;
  border: none;
  border-radius: 5px;
}

.section2 {
  width: 90%;
  margin: auto;
}
.categories {
  padding: 2% auto;
}
.categories h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.drop-down h1 {
  font-size: 2em;
  font-weight: 500;
  color: #494949;
  padding: 1em 0 0.5em;
}

.filter {
  position: relative;
  width: 23%;
  padding: 1em 0 1em 1em;
  background-color: #ff373f;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fa-minus {
  position: absolute;
  right: 5%;
}
.filter p {
  width: 60%;
  text-align: left;
}

.filter-recipes-by {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.search {
  width: 20%;
}
.sort-by {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
  margin-bottom: 1em;
}
.sort-by span {
  align-self: center;
}
.drop-down-default-text {
  margin-left: 0.5em;
}
.fa-angle-down {
  margin-left: 2em;
}
.search {
  flex: 1;
  text-align: right;
  align-self: center;
  margin-bottom: 1em;
}
.search-recipe {
  padding-left: 3%;
}
.categories {
  display: flex;
  padding: 1em 0;
  background-color: #ff373f;
}

.nationality {
  display: flex;
  flex: 3;
  flex-basis: 12%;
  align-self: center;
  padding: 1em 0 1em 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nationality h2 {
  flex-basis: 100%;
}

.nationality .part1,.nationality .part2,.nationality .part3{
  flex-basis: 30%;
}
.categories {
  color: #fff;
  position: relative;
}

/* checkbox styling */
.categories input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.categories label {
  width: 100%;
  cursor: pointer;
  display: flex;
}
.categories label::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border-radius: 50%;
}
.categories input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 3px rgb(255, 255, 255);
}
.categories input[type="checkbox"]:checked + label::before {
  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
/* checkbox styling end */

.food-type {
  flex: 1;
  align-self: center;
  margin: 1% 0;
  border-right: 1px solid #fff;
  padding: 0 0 0 1em;
}

.section3 {
  width: 90%;
  margin: auto;
}
.cards-container {
  padding: 5% 0;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card {
  margin-bottom: 2em;
  position: relative;
  width: 23%;
}
.card-heading{
  margin: 0 1em 1em 1em;
}
.card-img {
  width: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.card-info {
  background-color: #fff;
  padding: 5% 0.5em;
  height: 10rem;
}
.card-country {
  position: absolute;
  right: 10%;
}
.date-country {
  margin: 1em;
  font-size: .9em;
}
.return-top {
  width: 90%;
  padding: 0 0 3% 0;
  margin: auto;
  color: #e25367;
}
.form {
  width: 100%;
  color: white;
  background-color: #ff373f;
}
.form-wrapper {
  width: 90%;
  padding: 2% 0;
  margin: auto;
}
.form-wrapper h2 {
  font-size: 2.2rem;
  padding: 10px 0;
}
.form-wrapper p {
  padding: 10px 0;
  width: 27%;
}
.form-wrapper label {
  display: block;
}
.form1,
.form2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form1 {
  padding-bottom: 2%;
}
.form2 {
  padding-top: 1%;
}
.input-field {
  flex: 1;
  border-radius: 5px;
}
.input-field input,
label {
  width: 91.5%;
}
.input-field label {
  padding: 2% 0;
}
.input-field input {
  padding: 3% 2%;
  border: none;
  border-radius: 3px;
}
.input-field input[placeholder] {
  font-size: 1em;
}
.custom-drop-down {
  border: 2px solid black;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 0.3em;
}
.form1 {
  border-bottom: 1px solid #fff;
}
.remove,
.add-friend-btn {
  text-align: center;
  padding-top: 2%;
}

.add-friend-btn button {
  margin-top: 5px;
  width: 50%;
  color: white;
  margin: auto;
  padding: 3% 2%;
  background-color: #ff373f;
  border-radius: 5px;
  border: 1.5px solid white;
}
.send-btn-container {
  width: 50%;
  margin: auto;
  padding: 1% 0 2% 0;
  margin: 2% auto 0 auto;
}
.send-btn {
  width: 25%;
  font-size: 1em;
  margin-left: 40%;
  padding: 1.5%;
  background-color: white;
  border: none;
  border-radius: 3px;
  color: #767676;
}
footer {
  padding: 4% 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer a {
  color: #e25367;
}
footer p {
  padding-top: 3%;
}
.part1,
.part2,
.part3,
.part4,
.part5 {
  flex: 1;
}
