<table class="table container text-center">
    <thead>
      <tr>
        <th scope="col">Designation Id</th>
        <th scope="col">Designation Name</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of designationList">
        <td scope="row">{{department.designationId}}</td>
        <td>{{department.designationName}}</td>
        <td><i class="fa-solid fa-pen-to-square"></i><i class="fa-solid fa-trash"></i></td>
      </tr>
    </tbody>
  </table>