<table class="table container-fluid text-center">
    <thead>
      <tr>
        <th scope="col">Designation Id</th>
        <th scope="col">Designation Name</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let designation of designationList">
        <td scope="row">{{designation.designationId}}</td>
        <td>{{designation.designationName}}</td>
        <td>
          <i class="fa-solid fa-pen-to-square" (click)="onEditDesignation(designation.designationId)"></i>
          <i class="fa-solid fa-trash" (click)="onDeleteDesignation(designation.designationId)"></i>
        </td>
      </tr>
    </tbody>
  </table>