@media screen and (max-width: 568px) {
    header {
        width: 100%;
        padding: 20px 10px 10px;
        display: block;
        height: auto;
    }

    .logo-hamburger-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .fa-bars {
        display: block;
    }

    .logo {
        margin: auto auto auto 0;
    }

    .logo span {
        margin-left: 0;
    }

    .hamburger {
        text-align: right;
        flex-basis: 10%;
    }

    nav {
        display: none;
        width: 100%;
    }

    .visible {
        background-color: #2f2f2f;
        display: block;

    }

    nav ul {
        text-align: center;
        display: block;
        padding: .5em 0;
        margin: .5em 0;
    }

    nav ul li {
        padding: 0;
        border-bottom: 1px solid #f6f6f5;
        margin: .5em 0;
        font-weight: 400;
    }

    nav ul li a {
        color: #fff;
    }

    nav ul li:last-child {
        border: none;

        margin-bottom: 0;
    }

    .section1 {
        display: block;
    }

    .latest-recipe-img {
        height: 40vh;
    }

    .latest-recipe-img img {
        max-width: 100%;
        object-fit: cover;
    }

    .section2 {
        display: block;
    }

    .food-type {
        border: none;
        margin: .5em 0;
    }

    .filter {
        display: block;
        flex-basis: 35%;
    }

    .custom-drop-down {
        display: flex;
        flex-basis: 40%;
        padding: 0 10px;
    }

    .search {
        flex-basis: auto;
    }

    .nationality {
        padding: 0 15px;
    }

    .nationality-heading {
        flex-basis: 100%;
        padding-left: 0;
    }

    .section2 {
        font-size: .8em;
    }

    .sort-search-wrapper {
        display: block;
    }

    .section2-part1,
    .section2-part2 {
        padding: .5em 0;
    }

    .section2-part1 {
        padding-top: 0;
    }

    .nationality .part1,
    .nationality .part2 {
        flex-basis: 50%;
    }

    .nationality .part3 {
        flex-basis: 100%;
        padding-top: 15px;
    }

    .food-type-heading,
    .nationality-heading {
        font-size: 1.3em;
        font-weight: 600;
    }

    .search-items input[placeholder] {
        font-size: .9em;
    }

    .search-items input[placeholder] {
        width: 80px
    }

    .card {
        flex-basis: 100%;
    }

    .card-heading {
        margin-bottom: 0;
    }

    .card-info {
        padding: .5em 0.5em 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    .card-heading h3 {
        font-size: 1.7em;
    }

    .form-wrapper p {
        width: 70%;
    }
    .form2 {
        display: block;
        width: 100%;
    }
    .form1{
        width: 100%;
        display: none;
    }
    .form1,
    .form1 table {
        margin-top: 0;
    }

    .form1 table {
        width: 100%;
        font-size: .8em;
    }

    .form1 table td {
        padding: 10px 5px;
    }

    .remove {
        padding: 25px 0;
        display: block;
    }

    .add-friend-btn .btn {
        margin: 30px auto;
        width: 75%;
    }

    footer {
        display: block;
    }

    footer p,
    footer a {
        padding-top: 0;
    }

    .footer-section {
        padding-bottom: 25px;
    }

    .input-field {
        padding-right: 0;
    }

    .table-show {
        display: block;
    }
}