* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: #464645;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #f6f6f5;
}

button,
a {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #464645;
  font-weight: 600;
}

.btn {
  margin-top: 1.5em;
  font-size: 1.2rem;
  background-color: #fff;
  color: #494949;
  padding: 10px 15px;
  /* padding: 10px 50px; */
  border: none;
  border-radius: 5px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

header {
  width: 90%;
  height: 50px;
  padding: 50px 10px 30px 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.fa-bars {
  display: none;
}

.logo-img {
  border-radius: 50%;
}

.logo span {
  display: inline-block;
  align-self: center;
  margin-left: .5em;
  color: #e25367;
}

nav {
  align-self: center;
}

nav ul {
  font-size: 1em;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li {
  align-self: center;
  padding-right: 100px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
}

.goto-recipe {
  align-self: flex-start;
}

nav ul li:last-child {
  padding: 0;
}

.latest-recipe-img {
  flex-basis: 70%;
}

.latest-recipe-img img {
  height: 100%;
}

.latest-recipe-details {
  flex-basis: 30%;
  background-color: #e25367;
  color: #fff;
  padding: 25px 30px 35px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.latest-recipe-details p,
h1,
button {
  padding-top: 15px;
}

.section1 p {
  font-size: 1.2rem;
  width: 90%;
}

.latest-recipe-heading {
  width: 90%;
  font-size: 2rem;
  line-height: 1.2;
}

.section2 {
  width: 90%;
  padding: 20px 10px;
  margin: auto;
}

.section2 select {
  padding: 10px 20px;
  outline: 0.5px solid;
  border-radius: 3px;
}

.our-recipe {
  flex-basis: 100%;
  padding-bottom: 20px;
  font-size: 2.5em;
}

.section2-part1 {
  flex-basis: 30%;
  background-color: #e25367;
}

.checkbox-container {
  padding-bottom: 5px;
}

.filter-recipes-by {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f6f6f5;
  border: none;
}

.filter {
  display: flex;
  padding: 1em 0 1.5em 1em;
  justify-content: space-between;
  color: #fff;
  background-color: #e25367;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.filter {
  flex-basis: 25%;
}

.fa-minus {
  flex-basis: 50%;
  padding-right: .5em;
  text-align: right;
}

.food-type {
  align-self: center;
  border-right: .5px solid #fff;
  padding: 0 1em;
  margin: 25px 0;
  flex-basis: 25%;
  color: #fff;
}

/* checkbox styling */
input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.section2 label {
  width: 100%;
  cursor: pointer;
  display: flex;
}

.section2 label::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border-radius: 50%;
}

.section2 input[type="checkbox"]:focus+label::before {
  box-shadow: 0 0 3px rgb(255, 255, 255);
}

.section2 input[type="checkbox"]:checked+label::before {
  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

/* checkbox styling end */
.section2-part2 {
  flex-basis: 70%;
  background-color: #e25367;
}

.sort-search-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.custom-drop-down {
  flex-basis: 37.5%;
  padding: 10px 30px;
}

.food-type-heading,
.nationality-heading {
  display: block;
  color: #fff;
  margin-bottom: .5em;
}

.search {
  flex-basis: 37.5%;
}

.search-recipe {
  display: flex;
  border: none;
  background-color: #f6f6f5;
}

.search-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-items input[placeholder] {
  font-size: 1.2em;
  width: 130px;
  padding-left: .5em;
}

.nationality {
  display: flex;
  flex-basis: 75%;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e25367;
  padding: 25px 30px;
  color: #fff;
}

.nationality-heading {
  flex-basis: 100%;
}

.nationality .part1,
.nationality .part2,
.nationality .part3 {
  flex-basis: 33.3%;
}

.section3 {
  width: 90%;
  margin: auto;
}

.cards-container {
  max-width: 100%;
  padding: 3em 0;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-bottom: 2em;
  position: relative;
  width: 25%;
  font-size: 12px;
  padding: 0 10px;
}

.card-info {
  background-color: #fff;
  padding: 1em 0.5em;
  height: 10em;
}

.card-img {
  max-width: 100%;
}

.date-country {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  font-size: 1em;
}

.card-heading {
  margin: 0 1em 1em 1em;
}

.return-top {
  width: 90%;
  padding: 0 10px 2em 10px;
  color: #e25367;
}

.form {
  color: white;
  background-color: #e25367;
}

.form-wrapper {
  width: 90%;
  padding: 2em 10px;
  margin: auto;
}

.form-wrapper span {
  font-size: 2.2rem;
  padding: 10px 0;
}

.form-wrapper p {
  padding: 10px 0;
  width: 27%;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form1,
.form2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form1 {
  padding-bottom: 30px;
  margin-top: 30px;
}

.form1 table {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  border-collapse: collapse;
}

.form1 table thead {
  font-weight: 700;
  background-color: #d87a85;
}

.form1 table td {
  padding: 10px 20px;
  border: 1px solid #ffffff;
}

.form1 table td i {
  margin: 0 15px;
}

.form2 {
  padding-top: 10px;
}

.input-field {
  height: 8rem;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-right: 30px;
}

.input-field label {
  padding: .5em 0;
}

.input-field input {
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.input-field input[placeholder] {
  font-size: 1em;
}

.remove {
  text-align: center;
  padding-top: 3em;
}

.add-friend-btn {
  align-self: flex-end;
}

.add-friend-btn .btn {
  width: 70%;
  margin: auto;
  color: white;
  background-color: #e25367;
  border: 1px solid white;
  padding: 5px 10px;

}

.send-btn {
  display: block;
  margin: 2.5em auto;
}

footer {
  padding: 2em 0;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-basis: 20%;
  text-align: justify;
  padding: 0 20px;
}

footer a {
  display: block;
  color: #e25367;
}

footer p {
  padding-top: 10px;
}

button:active,
.btn:active {
  background-color: #cecece;
}

i:active {
  color: #cecece;
}