@media screen and (min-width:569px) and (max-width:1200px) {
    nav ul {
        font-size: .8em;
        justify-content: center;
    }

    header{
        width: 100%;
    }
    nav ul li{
        padding-right: 30px;
    }
    .fa-bars {
        display: none;
    }

    .latest-recipe-img {
        flex-basis: 50%;
    }

    .section2 {
        display: block;
    }

    .latest-recipe-details {
        flex-basis: 50%;
    }

    .section2 {
        font-size: .9em;
    }

    .filter {
        display: block;
        background-color: #f6f6f5;
        color: #464645;
        font-weight: 500;
        border-radius: 0;
        padding: 0 0 10px 0;
    }
    .custom-drop-down {
        padding-left: 0;
        margin-left: 0;
    }

    .sort-search-wrapper {
        display: block;
        border-top: none;
    }

    .food-type {
        margin: 0 auto;
        border: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
    }

    .food-type div {
        margin-right: 30px;
    }

    .food-type-heading,
    .nationality-heading {
        flex-basis: 100%;
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 0;
        margin-bottom: 5px;

    }

    .nationality {
        padding: 10px;
    }

    .card {
        flex-basis: 33.3%;
    }

    .date-country,
    .card-heading {
        font-size: .8em;
    }

    .form1,
    .form2 {
        flex-basis: 50%;
        display: block;
    }

    .form1 {
        border: none;
    }

    .form2 {
        padding-top: 0;
    }

    .form-wrap {
        display: flex;
    }

    .form-wrapper p {
        width: 50%;
    }

    .add-friend-btn button {
        margin-top: 2em;
    }

    .remove {
        display: block;
    }

    .footer-section {
        flex-basis: 50%;
        padding: 10px 20px
    }

    footer p,
    footer a {
        padding-top: 0;
    }

    .form2 .input-field {
        padding-right: 0;
    }

    .input-field input[placeholder] {
        font-size: .8em;
    }
}

@media screen and (min-width:569px) and (max-width:680px) {
    header{
        display: block;
        height: auto;
        padding: 10px 10px 20px 10px;
    }
    .latest-recipe-heading{
        font-size: 1.5rem;
    }
    .logo{
        justify-content: center;
    }
    nav ul {
        font-size: .7em;
    }

    .section2-part1 {
        flex-basis: 100%;
    }

    .section2-part2 {
        flex-basis: 100%;
    }

    .food-type {
        border: none;
    }

    .card-heading {
        font-size: .8em;
    }
}