@media screen and (min-width:569px) and (max-width:1200px) {
    nav ul {
        font-size: .8em;
        justify-content: center;
    }

    header {
        width: 100%;
    }

    nav ul li {
        padding-right: 30px;
    }

    .fa-bars {
        display: none;
    }

    .latest-recipe-img {
        flex-basis: 50%;
    }

    .latest-recipe-img img {
        display: block;
    }

    .section2 {
        display: block;
    }

    .latest-recipe-details {
        flex-basis: 50%;
    }

    .section2 {
        font-size: .9em;
    }

    .custom-drop-down {
        padding-left: 10;
        margin-left: 0;
    }

    .sort-search-wrapper {
        display: block;
        border-top: none;
    }

    .food-type {
        margin: 0 auto;
        border: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
    }

    .food-type div {
        margin-right: 30px;
    }

    .food-type-heading,
    .nationality-heading {
        flex-basis: 100%;
        font-size: 1.2em;
        font-weight: 700;
        padding-left: 0;
        margin-bottom: 5px;

    }

    .nationality {
        padding: 10px;
    }

    .card {
        flex-basis: 33.3%;
    }

    .date-country,
    .card-heading {
        font-size: .8em;
    }

    
    .form2 {
        flex-basis: 50%;
        display: block;
    }

    .form1 {
        flex-basis: 50%;
        display: none;
        border: none;
        margin-top: 0;
        flex-basis: 100%;
    }

    .form1 table {
        margin-top: 15px;
        width: 100%;
    }

    .form2 {
        padding-top: 0;
    }

    .form-wrapper p {
        width: 50%;
    }

    .form-wrap {
        flex-direction: row;
    }

    .form-section {
        flex-basis: 100%;
    }

    .add-friend-btn .btn {
        margin: 30px auto;
        width: 25%;
    }

    .remove {
        display: block;
    }

    .footer-section {
        flex-basis: 50%;
        padding: 10px 20px
    }

    footer p,
    footer a {
        padding-top: 0;
    }

    .form2 .input-field {
        padding-right: 0;
    }

    .input-field input[placeholder] {
        font-size: .8em;
    }

    .table-show {
        display: block;
    }
}

@media screen and (min-width:569px) and (max-width:680px) {
    header {
        display: block;
        height: auto;
        padding: 10px 10px 20px 10px;
    }

    .latest-recipe-heading {
        font-size: 1.5rem;
    }

    .logo {
        justify-content: center;
    }

    nav ul {
        font-size: .7em;
    }

    .section2-part1 {
        flex-basis: 100%;
    }

    .section2-part2 {
        flex-basis: 100%;
    }

    .food-type {
        border: none;
    }

    .card-heading {
        font-size: .8em;
    }

    .table-show {
        display: block;
    }
}