* {
  box-sizing: border-box;
  font-family: "EB", "Garamond";
}

html {
  font-size: 16px;
}
.header-icons {
  text-align: right;
}

.go-up {
  position: absolute;
  right: 3%;
}

ul li {
  padding-top: 5%;
}
small {
  color: #a1a1a1;
  font-size: 0.5rem;
  padding: 12px 0px;
}

h2.initial-card-heading {
  font-size: 2.5rem;
}

ul.list-group {
  border-radius: 0%;
}
li.list-group-item {
  font-size: 1.2rem;
}
li.list-group-item small {
  font-size: 1rem;
  font-weight: 100;
  color: #8f8f8f;
}
.ul1 li,
.ul2 li {
  color: #babab5;
}

.recent-post-container small {
  font-size: 0.7rem;
}
.recent-post-container h6 {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  header {
    border-top: 3px solid #5c5b5b;
  }
  div.post {
    width: 50%;
  }
  h2.initial-card-heading {
    font-size: 1.5rem;
  }

  div.logo {
    width: 20%;
  }
  nav .nav-ul {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-ul li {
    align-self: center;
    padding-top: 0px;
  }

  div.header-icons {
    width: 19%;
  }
  div.header-icons i {
    text-align: left;
  }
  div.post img {
    width: 95%;
  }
  div.post {
    border-left: 1px solid #efefef;
    padding-left: 4%;
  }
  div.post h2 {
    font-size: 1rem;
  }
  div.post-row {
    border-left: 1px solid #efefef;
  }
  .card img {
    width: 100%;
  }
  img.profile {
    max-width: 70px;
  }
  span.profile-name {
    width: 70%;
  }

  div.trending-list {
    width: 100%;
  }
  li.list-group-item {
    font-size: 1.2rem;
  }

  div.recent-post-container {
    width: 100%;
  }
  div.about-row,
  div.nav-cat-row,
  div.recents-row {
    width: 100%;
  }
  div.recents-row {
    padding-left: 10%;
  }
  h6.copyright {
    width: 100%;
  }
  div.footer-icons {
    width: 50%;
  }

  .section-wrapper {
    justify-content: space-evenly;
  }
}
