<div class="alert alert-success container" role="alert" *ngIf="isHide">
    Staff added successfully
</div>
<div class="form-container container">
    <form action="" class="row align-item-center p-4">
        <h3>Add Staff</h3>
        <div class="staffNameDesignationId col-6">
            <div class="form-group">
                <input type="text" class="form-control" name="staffName" id="staffName" placeholder="Staff name"
                    required [(ngModel)]="staffName" />
            </div>
            <div class="form-group">
                <select name="designation" class="form-control" (change)="getDesignation($event)">
                    <option value="">Select Designation</option>
                    <option value="{{designation.designationId}}" *ngFor="let designation of designationList">{{designation.designationName}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="email" name="staffEmail" placeholder="Email" class="form-control" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <input type="password" name="staffEmail" placeholder="Password" class="form-control"
                    [(ngModel)]="password">
            </div>

            <div class="form-group">
                <div>
                    <label for="designationName">Gender</label>
                </div>
                <input type="radio" name="gender" id="" value="male" #male (change)="getGender($event)"> Male
                <input type="radio" name="gender" id="" value="female" #female (change)="getGender($event)"> Female
                <input type="radio" name="gender" id="" value="other" #other (change)="getGender($event)"> Other
            </div>

            <button type="submit" class="btn btn-primary col-3 container my-4" (click)="addStaff()">
                Add Staff
            </button>
        </div>


    </form>
</div>