<div class="form-container container">
    <form action="" class="row align-item-center p-4">
        <h3>Book Return</h3>
        <div class="issueForm col-6">
            <div class="form-group">
                <label for="issueId">Issue Id</label>
                <input type="text" class="form-control" id="issueId" placeholder="Issue id" required />
            </div>
            <button type="submit" class="btn btn-primary col-3 container my-4">
                Return Book
            </button>
        </div>


    </form>
</div>