<div class="form-container container">
    <form action="" class="row align-item-center p-4">
        <h3>Book Return</h3>
        <div class="issueForm col-6">
            <div class="form-group">
                <label for="issueId">Issue Id</label>
                <input type="text" class="form-control" id="issueId" name="issueId" placeholder="Issue id" required
                    [(ngModel)]="issueId" />
            </div>
            <button type="submit" class="btn btn-primary col-3 container my-4" (click)="returnBook()"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Return Book
            </button>
        </div>
    </form>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" *ngIf="isCheckPenaltyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa-solid fa-xmark text-white px-2" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                    <p class="fs-6 text-center">{{errorMsg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>