<table class="table container">
    <thead>
      <tr>
        <th scope="col">Student Id</th>
        <th scope="col">Student Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Student Department</th>
        <th scope="col">Department Id</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mohd Afroz Khan</td>
        <td>Male</td>
        <td>Computer Science Engineering</td>
        <td>1</td>
        <td><i class="fa-solid fa-pen-to-square"></i><i class="fa-solid fa-trash"></i></td>
      </tr>
    </tbody>
  </table>