<table class="table container-fluid text-center">
    <thead>
      <tr>
        <th scope="col">Student Id</th>
        <th scope="col">Student Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Student Department</th>
        <th scope="col">Department Id</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList">
        <td>{{student.studentName}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.studentId}}</td>
        <td>{{student.studentDepartment}}</td>
        <td>{{student.departmentId}}</td>
        <td>
          <i class="fa-solid fa-pen-to-square" (click)="onEditStudent(student.studentId)"></i>
          <i class="fa-solid fa-trash" (click)="onDeleteStudent(student.studentId)"></i>
        </td>
      </tr>
    </tbody>
  </table>