@media screen and (min-width: 576px) and (max-width: 799px) {
  .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  h1.main-heading{
    font-size: 1.2rem;
    font-weight: 400;
  }
  div.card {
    width: 100%;
  }
  div.card1 {
    flex-basis: 47%;
  }
  div.card2 {
    flex-basis: 47%;
  }

  div.card3 {
    width: 100%;
    flex-basis: 97%;
  }

  footer {
    width: 90%;
    margin: auto;
  }

  .footer{
    width: 97%;
    margin: auto;
  }

  nav ul {
    width: 60%;
    margin: auto;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }
  nav ul li{
    justify-content: space-between;
  }
  h2.pricing {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
  }
  button.card-button{
    margin-top: 5%;
    margin-bottom: 5%;

  }
  button.contact-us-btn{
      padding-left: 0px;
      padding-right: 0px;
      width: 95%;
      margin-left: auto;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: auto;

  }
}
