<div class="form-container container">
    <form action="" class="row align-item-center p-4">
        <h3>Book Issue</h3>
        <div class="issueForm col-6">
            <div class="form-group">
                <label for="bookId">Book Id</label>
                <input type="text" class="form-control" id="bookId" placeholder="Book id" required />
            </div>
            <div class="dropdown mt-4">
                <select name="issueTo" (change)="onDropDownChange($event)" class="p-2 rounded">
                    <option value="issueTo">IssueTo</option>
                    <option value="Student">Student</option>
                    <option value="Staff">Staff</option>
                </select>
            </div>

            <ng-container *ngIf="student">
                <div class="form-group">
                    <label for="studentId">Student Id</label>
                    <input type="text" class="form-control" id="studentId" placeholder="Student id" />
                </div>
            </ng-container>
            <ng-container *ngIf="staff">
                <div class="form-group">
                    <label for="staffId">Staff Id</label>
                    <input type="text" class="form-control" id="staffId" placeholder="Staff id" required />
                </div>
            </ng-container>
            <button type="submit" class="btn btn-primary col-3 container my-4" (click)="issueBook()">
                Issue Book
            </button>
        </div>


    </form>
</div>