<div class="background">
    <div class="register-card">
        <div class="welcomeNote py-3">
            <h3 class="text-dark">Welcome to Library Management System</h3>
            <div class="imgContainer py-4">
                <img src="./../../assets/Images/book-logo.png" alt="Book-Logo" class="">
            </div>
        </div>
        <div class="row">
            <div class="register-input col-6 px-3">
                <input type="text" name="fullName" placeholder="Full name">
            </div>
            <div class="register-input col-6 px-3">
                <input type="text" name="staffId" placeholder="Staff id">
            </div>
            <div class="register-input col-6 px-3">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="register-input col-6 px-3">
                <input type="password" name="email" placeholder="Password">
            </div>
        </div>
        <div class="register-btn text-center container">
            <button class="btn btn-success">
                Register
            </button>
        </div>
        <div class="link text-center">
            <a routerLink="/">Already registered? Click to login</a>
        </div>
    </div>
</div>