<table class="table container-fluid text-center">
    <thead>
      <tr>
        <th scope="col">Staff Id</th>
        <th scope="col">Staff Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Designation Id</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>{{staff.staffId}}</td>
        <td>{{staff.staffName}}</td>
        <td>{{staff.gender}}</td>
        <td>{{staff.designationId}}</td>
        <td><i class="fa-solid fa-pen-to-square" (click)="editStaff(staff.staffId)"></i><i class="fa-solid fa-trash" (click)="deleteStaff(staff.staffId)"></i></td>
      </tr>
    </tbody>
  </table>