<table class="table container-fluid text-center">
  <thead>
    <tr>
      <th scope="col">Staff Id</th>
      <th scope="col">Staff Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Designation Id</th>
      <th scope="col" *ngIf="isAdmin">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffList let i = index">
      <td>{{staff.staffId}}</td>
      <td>{{staff.staffName}}</td>
      <td>{{staff.gender}}</td>
      <td>{{staff.designationId}}</td>
      <td><i class="fa-solid fa-pen-to-square" (click)="onStaffEdit(staff.staffId,i)" *ngIf="isAdmin"
          data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        <i class="fa-solid fa-trash" (click)="onStaffDelete(staff.staffId)" *ngIf="isAdmin"></i>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h1 class="modal-title fs-5 my-0 text-white" id="exampleModalLabel">Edit Staff</h1>
        <i class="fa-solid fa-xmark text-white" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <input type="text" name="staffName" id="staffName" placeholder="Staff name" class="form-control my-3"
          [(ngModel)]="editedStaffName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editStaff()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>