.alert-success{
    margin: 20px;
}
.form-container{
    margin: 50px auto;
    width: 50vw;
    display: flex;
}
.alert-success{
    margin: 25px auto;
    width: 50vw;
}
.form-container form{
    border: 1px solid #d3d3d3;
}