<table class="table container-fluid">
  <thead>
    <tr class="text-center">
      <th scope="col">Department Id</th>
      <th scope="col">Department Name</th>
      <th scope="col" *ngIf="isAdmin">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departmentList let i = index" class="text-center">
      <td scope="row">{{department.deptId}}</td>
      <td>{{department.departmentName}}</td>
      <td>
        <i class="fa-solid fa-pen-to-square" (click)="onDepartmentEdit(department.deptId,i)" *ngIf="isAdmin"
          data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        <i class="fa-solid fa-trash" (click)="onDepartmentDelete(department.deptId)" *ngIf="isAdmin"></i>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h1 class="modal-title fs-5 my-0 text-white" id="exampleModalLabel">Edit department</h1>
        <i class="fa-solid fa-xmark text-white" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <input type="text" name="departmentName" id="departmentName" placeholder="Department name"
          class="form-control my-3" [(ngModel)]="editedDepartmentName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editDepartment()">Save changes</button>
      </div>
    </div>
  </div>
</div>