<header class="py-5">
  <div class="icon p-3">
    <img src="./../../assets/Images/book-logo.png" alt="Book-Logo" />
    <div class="text-center logo-heading">LMS</div>
  </div>
  <div class="nav-menu">
    <ul>
      <li><i class="fa-solid fa-arrow-right"></i><a routerLink="/book/issue">Issue Book</a></li>
      <li><i class="fa-solid fa-arrow-right"></i><a routerLink="/book/return">Return Book</a></li>
      <li><i class="fa-solid fa-arrow-right"></i><a routerLink="/book/penaltycheck">Check Penalty</a></li>
    </ul>
  </div>
  <div class="logout mx-5"><i class="fa-solid fa-user"></i>Logout</div>
</header>
