header {
  background-color: #203743;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  align-self: center;
}
.nav-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul li {
  list-style-type: none;
  align-self: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.nav-menu ul li a {
  text-decoration: none;
  color: white;
}
.logo-heading {
  font-size: 1.2em;
}
ul .fa-arrow-right,
.logout i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  margin: 0 10px;
}
.icon {
  align-self: center;
}
.icon img {
  width: 3vw;
  padding: 5px;
}

.profileAndLogout {
  justify-content: flex-end;
}
.logout{
  cursor: pointer;
  align-self: center;
}
.lg {
  cursor: pointer;
}
.profile-icon {
  border: 1px solid white;
  border-radius: 50%;
}
.search{
  align-self: center;
}
.staffName{
  color: yellow;
}