* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
li {
  list-style-type: none;
  cursor: pointer;
}
nav ul li:hover {
  font-weight: bold;
}
.header-icons i {
  margin-left: .5em;
  cursor: pointer;
}
html {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  line-height: 1.5;
}
h2.post-heading {
  font-size: 1.3rem;
}
header {
  background-color: #f2f2f2;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
main,
section,
footer,
.trending {
  width: 100%;
  padding: 15% 0;
}
header {
  padding: 1em 0;
}
div.trending-wrapper {
  width: 100%;
  margin: auto;
  border: 2px solid #efefef;
}
.trending-heading {
  font-size: 1.5rem;
}

section {
  background-color: #222529;
  color: #fff;
}

section h3 {
  font-size: 1.5 rem;
}

.section-heading {
  margin-bottom: 10%;
}

.section-para {
  margin-bottom: 1em;
}

.learn-more {
  display: block;
  margin-bottom: 10%;
  font-size: 1.2rem;
  color: #fff;
}

.navigation-categories-wrapper {
  display: flex;
  padding-bottom: 10%;
}

.ul-1,
.ul-2 {
  width: 50%;
}
.ul-1 li,.ul-2 li{
    margin-bottom: .5em;
}
.recent-img-section img {
  width: 40px;
  height: 60px;
  margin-right: auto;
  margin-right: 1em;
}

.recent-img-section small {
  padding: 0;
  margin: 0;
}

.recent-img-section {
  display: flex;
  align-items: center;
}

.recent-text {
  width: 100%;
  padding-bottom: .5em;
}
.recent-text small{
    font-size: .8em;
}
.recent-text p{
    font-size: .9em;
}

.trending ul li {
  border-bottom: 2px solid #efefef;
  font-size: 1.3rem;
  width: 100%;
  padding: 1em;
}
.trending ul li small {
  display: block;
  padding: 5% 0;
  padding-bottom: 0;
}
.posts {
  padding: 25% 0%;
}
.post{
  margin-bottom: 3em;
}
.trending .watermark {
  display: none;
}
.header-wrapper,
.main-wrapper,
.section-wrapper,
.trending-wrapper,
.footer-wrapper {
  width: 90%;
  margin: auto;
}
.section-wrapper a{
    font-size: 1em;
}
.fa-angle-right{
    margin-right: .5em;
    font-size: .8em;
}
img {
  width: 100%;
  margin: .5em 0%;
}

small {
  font-size: 0.9em;
  color: #bebebe;
  display: block;
  padding-top: 0%;
}
.profile {
  margin: 5% 0px;
  display: flex;
  align-items: center;
}
.profile-name {
  align-self: center;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.profile-img {
  width: 3em;
  border: 2px solid gray;
  border-radius: 50%;
}
.main-img {
  margin-bottom: 5%;
}

.main-heading {
  font-size: 2.6rem;
}
nav {
  display: none;
}

footer {
  background-color: #000;
  position: relative;
  color: #fff;
  text-align: center;
}
footer small {
  font-size: 1rem;
}

.footer-wrapper p {
  font-size: 1.2rem;
}
.go-up {
  cursor: pointer;
  position: absolute;
  right: 5%;
  background-color: #222529;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer-icons {
  background-color: #222529;
  border-radius: 50%;
  padding: 3%;
}
