<section class="sidebar">
  <div class="sidebar-items py-4">
    <ul>
      <div class="sidebar-actions">
        <li><i class="fa-sharp fa-solid fa-gauge mx-2"></i>Dashboard</li>
      </div>

      <div class="sidebar-actions">
        <li><i class="fa-solid fa-users mx-2"></i><span>Users</span></li>
      </div>
      <div class="sidebar-actions">
        <li><i class="fa-solid fa-book mx-2"></i><span>Books</span></li>
      </div>
      <div class="sidebar-actions">
        <li>
          <i class="fa-solid fa-chart-column mx-2"></i><span>Issue/Return</span>
        </li>
      </div>
      <div class="sidebar-actions">
        <li><i class="fa-solid fa-bell mx-2"></i><span>Notification</span></li>
      </div>
    </ul>
  </div>
</section>
