<div class="alert alert-success container" role="alert">
    Designation added successfully
</div>
<div class="form-container container">
    <form action="" class="row align-item-center p-4">
        <h3>Add Designation Details</h3>
        <div class="form-group col-9">
            <label for="designationName">Designation Name</label>
            <input type="text" class="form-control" id="designationName" placeholder="Designation name" required />
        </div>

        <button type="submit" class="btn btn-primary col-3 container my-4">
            Add Designation
        </button>
    </form>
</div>